<!-- The backend basic UI for quickly access different tables -->
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Our Website</h1>
    <p>Hello, and welcome to our website!</p>

    <ul>
        <li><a href="/api/user">Customer (Phone number)</a></li>
        <li><a href="/api/menu">Menu</a></li>
        <li><a href="/api/table">Table</a></li>
        <li><a href="/api/staff">Staff</a></li>
        <li><a href="/api/order">Order</a></li>
        <li><a href="/api/orderContent">Order Content</a></li>
        <li><a href="/api/payment">Payment</a></li>
    </ul>
</body>
</html>